@font-face {
	font-family: "Poppins Light";
	src: url('./font/Poppins\ Light\ 300.ttf');
	}
	@font-face {
		font-family: "Poppins Bold";
		src: url('../font/Poppins\ Medium\ 500.ttf');
		}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Poppins Bold;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 14px;
}
body{
	color: #707070;
	

}

ul , li {
	list-style-type: none;
        }
/*---------------slide-bar-css---------------------------*/

.slide-bar{
	position: absolute;
	top: 0;
	left: -260px;
	 width: 250px;
	 height: 100vh;
	 z-index: 3;
	 max-height: 100vh;
	 background: rgb(222, 247, 248);
	 box-shadow: 0 0 8px rgb(230, 230, 230);
	 position: fixed;
	 padding-left: 7px;
	 padding-top: 15px;
	 transition: all ease 0.5s;
	 
}

.slide-bar.active{
	left: 0px;

}
.slide-bar .logo{
	text-align: center;
	margin-bottom: 50px;
}

.slide-bar .logo  a h1 {
	font-size: 30px;
	color: #2f8fe9;
}
.map{

}
.slide-bar .logo  a:last-child{
	display: non;

}
.se{
               width: 100%;
               background-color: #fff;
	border-radius: 15px;
}
.se2{
               width: 100%;
               
               background-color: #fff;
               border: none;        
}
.se select {
         width: 95%;
         padding: 5px 10px;
         background-color: #fff;
         border: none;
         outline: none;
         box-shadow: 0 0 8px rgb(211, 208, 208);
          border-radius: 15px;
}
.se input {
	width: 95%;
	padding: 7px 14px;
	background-color: #fff;
	border: none;
	outline: none;
	height: 42px;
	border-radius: 15px;
	
	
	
      }
.slide-bar .avatar{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.slide-bar .avatar .avatar-img{
	margin-right: 10px;
}
.slide-bar .avatar .name-pos h5{
	color: #ccc;
	font-size: 12px;
}
.slide-bar .slide-bar-nav2 ul li a{
	display: flex;
	align-items: center;
	padding: 12px 10px;
	margin: 10px 0 0px;
	width: 100%;
	color: #707070;
	transition: .45s;

}
.slide-bar-nav2 ul li{
	margin-bottom: 23px;
}
.slide-bar .slide-bar-nav2{
	max-height: 75vh;
	overflow-x:hidden;
	overflow-y:scroll;

}
.slide-bar-nav2::-webkit-scrollbar {
	width: 7px;
           }
.slide-bar-nav2::-webkit-scrollbar-track {
	background-color: rgb(222, 247, 248);
           }
           .slide-bar .slide-bar-nav2::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background: rgb(222, 247, 248);
	transition: 1s;
	
           }
           .slide-bar:hover .slide-bar-nav2::-webkit-scrollbar-thumb{
	border-radius: 15px;
	background-color: #2f8fe9;
           }

.slide-bar .slide-bar-nav ul li a .nav-link{
	margin-left: 15px;
}
.bx_c{
       padding: 7px 14px;
       height: 42px;
       border-radius: 10px;
}
.rf_cr{
	text-align:left ;
	background: #fff;
	border-radius: 10px;

}
.SE23{
	border: none;
	outline: none;
	color: #707070;
}
.se1{
	display: flex;
	justify-content: center;
	box-shadow: 0 0 8px rgb(211, 208, 208);
               border-radius: 15px;
	padding: 5px 10px;
	width: 95%;
}



.button_c{
	color: #2f8fe9;
	cursor: pointer;
	display: flex;
	justify-content: center;
}
.button_c:hover{
	color: #2f8fe9a6;
	cursor: pointer;
}
.graph_c{
	position: fixed;
	bottom: -1000px;
	right: 0;
               left: 0px;
	min-height: 50vh;
	background:rgb(80, 79, 79);
	transition: all ease 0.3s;
	
}

.graph_c.active_graph{
	bottom:0;
	transition: all ease 0.99s;
	width: 100%;
}