doctype html 

html 
    head 
        block styles 
            link(rel="stylesheet", href="/static/css/fontawesome.css")
            link(rel="stylesheet", href="/static/css/all.min.css")
        title ROOFTOP 
    body 
        include side-bar
        include top-bar
        include main-content
                            
                    