doctype html 

block prepend styles
    link(rel="stylesheet", type='text/css' href="/static/css/sidebar.css")

body 
    .slide-bar#sidebar 
        .logo 
            a(href="#")
                h1 RoofTop 
            a(href="#")
                img(src="/static/images/R.png" ,width="70px")
        .slide-bar-nav 
            ul 
                li
                a(href="#")
                        span    
                            img(src="/static/images/OIP (1).jfif" ,width="30px") 
                        span.nav-link Area =
                        span.nav-link #{building.} sq m
                li
                    a(href="#")
                        span 
                            img(src="/static/images/R (1).png" , width="30px")
                        span.nav-link Paint 
                    .se
                        select
                            for material in materialsList:
                                option #{material.name}
                        select 
                            option Slaked Lime
                            option White Cement
                            option Elastometric Paint
                            option Ceramic Tiles
                li 
                    a(href="#")
                        span 
                            img(src="/static/images/R.png" ,width="30px") 
                            span.nav-link Season
                    .se 
                        select 
                            option Spring 
                            option Summer 
                            option Monsoon 
                            option Winter 
                li 
                    a(href="#")
                        span 
                            img(img src="/static/images/R (2).png" ,width="30px") 
                        span.nav-link Electical saving 
                    .se 
                        p(style="text-align:center;") 1400W/Day
                        
                