block prepend styles
    link(rel="stylesheet", href="/static/css/topbar.css")

    
body 
    header 
        .hesd_inner 
            .right_part
                form
                    input(type="search" name="recherche" placeholder="Search..." required)
                    button 
                        i.fa.fa-search 
            
            .left_part 
                ul 
                    li 
                        a(href="#")
                            img(src="/static/images/R.png", width="40px")
                    li.have_dots
                        span
                            i.fa.fa-share-alt(aria-hidden=true) 
                    li
                        span.bar  
                            i.fa.fa-bell
            

            
                    